
@{
    ViewBag.Title = "Aborigines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2> Aborigines</h2>
            </div>
            <p>
                Come on. We have taken a whole Continent by two Magic words TERRA NULLIUS.

                Forgetting the Past, we can do two things to right towards the owners of this great Continent.
            </p>
            <ol> <li>Make two permanent Ministries for Aborigines – one for Immigration and the other for Land and Resources Management. After all this is their land.</li>
                <li>Allocate prime lands in all States and call them Homeland for them so that those who wish to live there may go and develop their Culture.</li>
                <li>Less cost to businesses through loss and insurance costs, theft.</li>
                <li>The current generation can stop genocide.</li>
            </ol>
        </div>
    </div>
</div>

