
@{
    ViewBag.Title = "Crime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2> Crime</h2>
            </div>
            <p>
                We expect our Ambulances with much lower staff than Police to reach the emergencies within minutes. Currently, if they are delayed we try to investigate and sometimes prosecute them.<br />

                We will be approaching all incidents of crimes with the same approach.<br />

                Since Police are busy with their work we propose:<br />

                Para police like the paramedics will response to calls from where crime being committed.  They will visit the scenes in less than 5 minutes.  They will have power to arrest and hand over to the Police for further investigation and prosecution.<br />
            </p>

            Others<br />
            <ol>
                <li>More than half the population have driving licence which are quasi identity card themselves.  The rest will be given similar cards for easy identification.  The concerned civil libertarians will be exempted if they are ready to share the cost of crimes to victims. This means as soon as a youth reaches 16 he/she will be provided with a photo id which can be used as Learner permit.</li>
                <li>All youth will be fingerprinted and along with their DNA taken. All these data will be held in a stand alone server. Like the search warrant, only a Judge can issue for search and will be searched with the presence of defence lawyer and the record keeping staff.</li>
                <li>All court cases will be audited.</li>
                <li>Justice will be fair.  Judges need not be selected from ex lawyers.  They will be free of any affiliations and trained accordingly.  Selected from cream of Law Graduates and paid well to provide justice.</li>
                <li>All laws will be scrutinised and changed to reflect the concerns of the community.</li>
                <li>All property damaged due to crimes will be paid by the criminals.</li>
            </ol>
        </div>
    </div>
</div>

