
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Donate Us</h2>
            </div>
            <p>
                We will add it later...<br />
            </p>

        </div>
    </div>
</div>
