
@{
    ViewBag.Title = "Economy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2> Economy</h2>
            </div>
            <p>
                We will be looking at how the Economy will be controlled by Fiscal and Monetary policies that will involve all people.

                Interest Rate will not be used to manage the Economy and inflation.

                And interest rates affect only a certain group of people who should not be affected at all by changing of the interest rates in the first place.

                Also when the interest goes up all retailers increase their prices may be 3 – 5 %. Therefore interest rate will be fixed.

                Alternatively, our Monetary Policy will be non inflationary and will be contributed by all from the humble employee to Million dollar Executives.

                By this Policy the Businesses will not pass this cost to the customers.  Thus controlling further price rise (which never comes down) and hence inflation.

                Our Dollar value does not represent the economic conditions of our country but that of the speculators with huge hedge funds of the outside world.

                We will fix our dollar at a Healthy level that is good for both IMPORTERS and EXPORTERS.

                Likewise, as our share market is manipulated by forces outside the country (Remember, recently, they were trying to destroy a few Countries.)

                Benefits:
                All governments boast about Balanced Budgets but destroy the chances of the Small Businesses doing same by varying costs due to varying Interest Rates and Dollar Exchanges.

                Fixing Interest Rate and Dollar exchanges will fix these problems.

            </p>

        </div>
    </div>
</div>