
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>EDUCATION</h2>
            </div>
            <p>
                Teaching is not an employment.

                Teaching will be given an Honourable Position in the Society, well paid to attract Quality Professionals to take care the wellbeing of the Country’s Future – our Youth.

                We will learn and implement the methods used in many successful Educational Institutions in other Countries.

                We will reward quality School Staff who produce Quality students.

                There will be random checking of student’s bags with sniffer dogs at schools for smokes or drugs.

                Students will be taught on manners, etiquette, crime and punishment, criminal record and employment, courtesy and safety in driving, respect of neighbours, tolerance and Golden Rule.
            </p>

        </div>
    </div>
</div>