@{
    ViewBag.Title = "Government";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="govnmnt" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2> Government</h2>
            </div>
            <p>
                <span style="color:blue">   There will be no Lean Government.</span><br />
                <span style="color:red">
                    Lean Government was an Invention by The Big Business to rob the Masses and Small Businesses.<br />

                    <strong>  Our Government will never retrench/reduce our employees.</strong><br />
                </span>
                <span style="color:green">
                    All Essential Services that go direct into the homes will be regulated.<br />
                </span>
                Pay packets of CEOs will not be linked to shares.<br />

                The new CEO recruits will work only for pay, it may be millions but their performance will not be measured by the growth of shares by reducing their employees. Any idiot can do that.<br />

                Unless a company goes into red they have to get approval from government to reduce staff.<br />

                All profits of overseas resource companies will be taxed heavily if they <span style="color:blue">
                    just export our natural Resources without adding local value.
                </span> <br />

                There will be no room for Lobbying paid by Business. They can talk as long as they have a vision for the poor, sick and homeless, family.<br />

                Any Lobbying Organisation that represents Family, Poor, Homeless, and Sick will be entertained by the Government.
            </p>
        </div>
    </div>
</div>

