@{
    ViewBag.Title = "Home Page";
}

<!-- first container -->
@*<div class="container-fluid  text-center">
        <h3 class="margin">who am i?</h3>
        <img src="~/resources/partylogo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="logo" width="350" height="350">
        <h3>i'm an adventurer</h3>
    </div>*@
<!-- Container (Maifesto- home Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <h1 class="" style="color:#0e597c; zoom:150%"> Peace Life Party (PLP) Manifesto</h1>
            </div>
            <p>
                Wealth of Australia is for all Australians.<br />
                Hence we must make sure that all creations of wealth are properly managed for the Australians first.<br />
                We have Developed <strong> Fiscal Policy</strong> (Tax, Excise and Other means) to generate responsible Revenue considering how they will serve the Families of Australia.<br />
                Hence all Owners and Managers of our <b> Natural Resources</b> and all those Local or Overseas Companies Trading in Australia will contribute fairly to our Revenues.<br />
                This Revenue generated will be well managed for the need of the people in:
            </p>

            <ul>
                <li>Health</li>
                <li>Education</li>
                <li>Employment</li>
                <li>Security</li>
                <li>Environment</li>
            </ul>

            <p>
                Likewise our <strong> Comprehensive Monetary Policy</strong> (managing cash flow) will be fair to all Australians.
                This will be:
            </p>
            <ul>
                <li>	<strong>Non or minimum inflationary</strong> </li>
                <li>	<strong> Fair </strong> to all Australians</li>
                <li>	Give <strong> Certainty </strong> to financial needs of Individuals and Small Businesses</li>
                <li>	Create a <strong>Climax </strong> suitable for Small Businesses</li>
                <li>	This <strong> Certainty </strong>>will encourage many to buy first homes or invest in property.</li>
                <li>	<strong>Motivate </strong> many others to enter Small and Medium Enterprises.</li>
                <li>	<strong>Facilitate </strong> Import and export without fear of currency fluctuations</li>
                <li>	All together <strong>  Creating many jobs </strong> </li>
            </ul>
            <p>
                All the above Policies help the Government to make sure all<strong>
                    Youth
                </strong> are properly and completely engaged either in Studying, Learning Trades, and Employed or in further development in a suitable Disciplined Environment.<br />

                Most of all our Policies will help us to Achieve our most Important Goal that

                <ol>
                    <li><strong>	All Able Persons Work. </strong> </li>
                    <li> <strong>	No Youth will be idle </strong> </li>
                </ol>
                <br>
                Our Fiscal and Monetary policies will be supported by our <strong>
                    Local Resources
                </strong> Policy as stated below.<br />
                Let us remember there are <strong>
                    7000 Millions
                </strong> in world population. <br />
                Our exporters of our natural resources can Export Happily at World Market Prices to the Rest of the world.<br />
                <strong>
                    However
                </strong> , they WILL Supply to the Needs of only about <strong>
                    24 Millions of Australian
                </strong> People and their Local Businesses at <strong>
                    Local Prices.
                </strong> <br />

                This will help us to <strong>
                    Restart
                </strong> our failing <strong>
                    Manufacturing Sector
                </strong> first.<br />
                They will promote our Country as Major Exporters of Value added Products and Services.<br />
                Also we will give our generous support to Innovations, IT and Start-up Incubators.<br />

                Finally but most importantly we take all steps to contribute to the Regeneration and Management of our Environment.<br />

                While Developing our Finances, Employment and Environment, we will also focus our Attention on our Health and Education.<br />

                We note that many young people start their lives Learning Trades with Least Financial Burden (We strongly Support Them, Too).<br />
                Our <strong>
                    Higher Education
                </strong> Students Accumulate massive Debts even before they start their lives. We will endeavour to make sure their burdens of Debts are Reduced to Minimum or none.<br />

                As we consider Australia’s Future is our Youth we will support them all the way.<br />

                Even though we have the Best Universities of the world and producing many Graduates and Post Graduates, we will investigate why we are giving work to overseas workers and not employing and training our Local Graduates.<br />

                This brings us to the Urgent need of Health.<br />

                We will educate all levels of the Society from Primary, Secondary and Tertiary, Employed and Seniors to consider Healthy Living Food and Exercise habits by which we prevent many sicknesses rather than the need for Medicine as the cure all to all Sicknesses and Diseases.<br />

                <strong>
                    We will have A Safe and Secure Environment
                </strong>
                for the Families to do their Daily lives. <strong>
                    Local
                </strong> or <strong>
                    Migrants
                </strong> will not be permitted to Create an Environment of <strong>
                    Fear in our Society
                </strong>.  We will do everything in our Power to keep our Society safe from <strong>
                    Criminals
                </strong> and <strong>
                    Terrorists
                </strong>.<br />

                All drug users will be helped to eliminate their habits.<br />

                Finally we will Listen to the people of Australia and implement what is good for the Family.<br />

                What is good for the Family is Definitely Good for the Country Australia.<br />

                All our Policies are Designed to give all Australians with Abundant <strong>
                    Life
                </strong> with <strong>
                    Peace
                </strong> .<br />

                Please Remember that there is A Better Way To <strong> Life </strong> and <strong> Peace </strong> with <strong> your support </strong> and <strong> cooperation </strong>.<br />
            </p>
            <br><a class="btn btn-info btn-lg" href="@Url.Action("MemberRegistration", "Home")">Get in Touch</a>
        </div>

    </div>
</div>