@{
    ViewBag.Title = "Manufacturing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2> MANUFACTURING INDUSTRIES</h2>
            </div>
            <p>
                <span style="color:red">  We have lost thousands of jobs to cheap imports from overseas. </span> <br />

                <span style="color:red">
                    Can we regain these losses?
                </span><br />

                <span style="color:green">
                    Yes By:
                </span>
                We have all the natural Resources, including Energy to make our Country an Industrial Country.
                <span style="color:green">
                    <u> Hence, we provide to the Local Industries all their Resources requirements including oil at<i> LOCAL PRICE</i>.</u>
                </span>
                The resources Companies can export to the rest of the World (7000 Millions of Population) at the World Market Price to their heart content.<br />
                <span style="color:green">
                    However, they must support the local Industries and families (Only 24 Millions of People) by supplying their requirement of resources AT LOCAL PRICE --> Local Cost + reasonable profit Margin.
                </span><br />
                Let us remember these Resource Companies are exporting to China, India (We are not against any country) and through China, India supplying to 7000 million worldwide. We are sure these Resource Companies have a Big Heart to supply to only 24 millions Australian’s need from whose Land they are exporting in the first place. <br />
                <span style="color:green">
                    This is the only way Australian Industries can compete in the International Markets and retain jobs.<br />

                    Also we can allocate land as Industrial Zones for foreign Countries like USA, Europe to set up (for export oriented also) businesses (supplied raw materials and energy at local cost) who will employ locally and if not enough from overseas as migrant works (who will go back when their contract expires like in the Middle East)<br />
                </span>
                <span style="color:red">
                    The additional benefit of this is that these friendly Countries will protect their investment from outside aggression and hence will <u> reduce our Defence Cost, too.</u><br />
                </span>
            </p>

        </div>
    </div>
</div>

