
@{
    ViewBag.Title = "SmallBusiness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>SMALL BUSINESS</h2>
            </div>
            <p>
                Small business is the largest employer in any Country.
                We will actively support them.

                Giving them Low interest loans whose interest do not change.

                People working hard to earn a living through Small Businesses and create employment will be appreciated, protected and supported.

                We will protect them from predators and price fixers.

                We will level the playing fields so that they will have access to goods at very competitive prices without the suppliers being intimidated by big players.

                Part of all Government handouts (if possible pension, too) about 10% or more will be paid in alternate money. These coupons are a legal tender but can only be spent in Small Businesses.

                When Small Businesses deposit, the bank will be credit their accounts less GST.

                Bank will send this GST to the Treasury daily.

                This will boost the Small Businesses and reduce the Gambling amount of the recipients.

                Talking about Gambling we introduce a system including ids to limit spending on Gambling even through internet and mobile Apps.
                By fixing the interest rate and dollar exchange rate small businesses will be able to budget their business.
            </p>
        </div>

    </div>
</div>
