@{
    ViewBag.Title = "youth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="youth" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2> Youth</h2>
            </div>
            <p>
                Youth are the Country’s future. We must help them to be ready to take the role of family.<br />

                Their development will not be left to <strong>RANDOM</strong><br />

                Hence all children, youth up to 21 years are Properly and Completely engaged either in either Studying, Learning Trades, Employed or in further development in a suitable Disciplined Environment Learning Life and work skill.<br />

            <p> <u> There is no room for idling for youth but will be developed to meet their future needs</u>.</p>

            Children will stay with the parents until 18 years of age.  The parents will be paid allowance to meet the demands of having them.<br />

            If the foster parents agree, all children under foster care will be allowed to continue to live in those arrangements until they are ready to move.<br />

            <u>Benefits This Policy:</u><br />
            <ul>

                <li> Less crime, shoplifting, violence, depression </li>
                <li>
                    Less drug addiction as any youth who has dependency on drugs will be identified and treated
                </li>
                <li>
                    Less crime -> less prisons, less Police, less Justice staffs
                </li>
                <li>
                    Less cost to businesses through theft and insurance costs.
                </li>
                <li>
                    Less cost to the Government
                </li>
            </ul>
            </p>
        </div>

    </div>
</div>
